<style>

h4 {
	font-family: Source Code Pro ;
	font-size: 14px;
	color: #DD0276 ;
	font-weight: bold;
	display: inline-block;
}

body {
	font-family: Source Code Pro ; 
	font-size: 14px ; 
	border-style: solid ; 
	border-color: #DD0276 ; 
	border-radius: 25px ; 
	max-height: 100%;
}

h1 {
	font-size: 25px; 
	color: #DD0276 ;
}

button {
		border-radius: 12px;
		padding: 14px 40px;
		font-size: 16px;
		color:  #FE2E64;
		border: 2px solid #FE2E64;
		margin-left: 85%;
		margin-bottom: 5px;
		}		

.myImage {
	background-image: url("bobTheBuilder.png");
	background-size: 79%;
	height: 510px;
	width: 350px;
	background-repeat: no-repeat;
}

    #innerHover {
        position: absolute;
        top: 15%/**distance from top of image */;
		margin-left: 100px;
        bottom: 30% /**distance from left of image */;
        width: 80px; /**region width*/;
        height:60px /**region height*/;
        overflow:show;
    }

    #popupdiv{
        position: absolute;
        margin-top: 50px;
        left:300px;
        background: white;
        width:200px;
        height:135px;
        border: solid;
        border-radius: 25px;
        border-color: black;
        
    }
    #innerHover #popupdiv{
       display:none;
    }
    #innerHover:hover #popupdiv{
        display:block;
    }

    #innerHover2{
        position: absolute;
        top: 49%/**distance from top of image */;
		margin-left: 110px;
        bottom: 30% /**distance from left of image */;
        width: 60px; /**region width*/;
        height:60px /**region height*/;
        overflow:show;
    }

    #popupdiv2{
        position: absolute;
        margin-top: -50px;
        left:300px;
        background: white;
        width:200px;
        height:160px;
        border: solid;
        border-radius: 25px;
        border-color: black;
        
    }

    #innerHover2 #popupdiv2{
       display:none;
    }
    #innerHover2:hover #popupdiv2{
        display:block;
    }

    #innerHover3 {
        position: absolute;
        top: 23%/**distance from top of image */;
		margin-left: 25px;
        bottom: 30% /**distance from left of image */;
        width: 250px; /**region width*/;
        height:180px /**region height*/;
        overflow:show;
    }

    #popupdiv3{
        position: absolute;
        margin-top: 50px;
        left:370px;
        background: white;
        width:200px;
        height:265px;
        border: solid;
        border-radius: 25px;
        border-color: black;
        
    }
    #innerHover3 #popupdiv3{
       display:none;
    }
    #innerHover3:hover #popupdiv3{
        display:block;
    }

     #innerHover4 {
        position: absolute;
        top: 57%/**distance from top of image */;
		margin-left: 25px;
        bottom: 30% /**distance from left of image */;
        width: 250px; /**region width*/;
        height:230px /**region height*/;
        overflow: show;
    }

    #popupdiv4{
        position: absolute;
        margin-top: -185px;
    	left:370px;
        background: white;
        width:200px;
        height:265px;
        border: solid;
        border-radius: 25px;
        border-color: black;

       }
    #innerHover4 #popupdiv4{
       display:none;
    }
    #innerHover4:hover #popupdiv4{
        display:block;
    }

</style>
